apiVersion: v1
kind: Secret
metadata:
  name: lastcup-api-env
  namespace: lastcup
type: Opaque
stringData:
  DB_URL:
  DB_USER:
  DB_PASS:

  JWT_SECRET_KEY:

  AWS_S3_BUCKET:
  AWS_ACCESS_KEY_ID:

  GOOGLE_CLIENT_IDS:
  KAKAO_CLIENT_ID:
  KAKAO_CLIENT_SECRET:
  KAKAO_REDIRECT_URI: