apiVersion: v1              # 기본 v1 API 그룹이다.
kind: Service               # 이 파일로 Service를 만들겠다
metadata:
  name: lastcup-api-active  # "이 서비스의 이름은 lastcup-api-active입니다"
  namespace: lastcup        # "이 서비스는 lastcup 네임스페이스에 속합니다"
spec:
  type: ClusterIP           # "어떤 방식으로 노출할 것인가?" -> 클러스터 내부에서만 접근 가능한 ClusterIP
  selector:                 # "이 서비스는 어떤 pod을 대상으로 하는가?"
    app: lastcup-api        # -> lastcup-api label이 붙은 pod 대상
  ports:
    - name: http            # ! 포트에 붙히는 이름표, 다른 리소스가 포트 참조시 번호 대신 이름 사용 가능
      port: 80              # 서비스가 노출하는 포트 번호, 클러스터 내부에서 이 서비스 접근시 이 포트 번호로 접근
      targetPort: 8080      # 서비스가 트래픽을 전달하는 pod의 컨테이너가 실제로 듣고 있는 포트

---

apiVersion: v1
kind: Service
metadata:
  name: lastcup-api-preview
  namespace: lastcup
spec:
  type: ClusterIP           # "클러스터 내부에서만 접근 가능한 ClusterIP로 서비스를 노출하겠다."
  selector:
    app: lastcup-api        # lastcup-api label 붙은 pod 대상 서비스
  ports:
    - name: http
      port: 80
      targetPort: 8080

# 두 서비스가 대상으로 하는 pod이 동일하다. 추후 Argo Rollouts가 런타임에 hash 라벨을 추가로 붙혀 구버전/신버전을 분리한다.
# Service는 문이고, Argo Rollouts는 문의 방향을 돌리는 사람이다.
