apiVersion: argoproj.io/v1alpha1  # Argo Rollouts CRD의 API 그룹, v1 alpha1 버전 양식으로 작성된 매니페스트
kind: Rollout                     # 이 파일로 Rollout을 만들겠다
metadata:
  name: lastcup-api               # 이 Rollout의 이름은 lastcup-api
  namespace: lastcup              # 이 Rollout은 lastcup 네임스페이스에 속한다
spec:
  replicas: 2                     # "몇 개의 Pod을 유지할 것인가?" -> 2개 유지
  revisionHistoryLimit: 3         # "롤백을 위해 몇 개의 이전 버전을 보관할 것인가?" -> 3개 보관
  selector:                       # "이 Rollout이 관리하는 Pod을 어떻게 찾는가?"
    matchLabels:
      app: lastcup-api            # -> app: lastcup-api label이 붙은 Pod을 이 Rollout이 관리한다

  # "롤아웃이 관리할 Pod의 템플릿, 이 템플릿을 기반으로 Pod을 만들어 낸다"
  template:
    metadata:
      labels:
        app: lastcup-api          # Rollout이 이 템플릿으로 만드는 Pod에 이 lastcup-api label을 붙임
    spec:
      imagePullSecrets:           # "이미지를 GHCR에서 끌어올 때 사용할 인증 정보 (GHCR은 기본 private + rate limit 방지)"
        - name: ghcr-pull-secret  # -> ghcr-pull-secret이라는 이름의 시크릿을 참조하여 이미지 풀링 인증 정보를 제공한다
      containers:                 # "이 Pod에서 실행할 컨테이너 목록, 이 Pod에서는 하나의 컨테이너만 정의"
        - name: api               # 컨테이너 이름은 api
          image: ghcr.io/gdgoc2026-triples-project/2026_triples_team_6_be:latest # 컨테이너 이미지 주소, 추후 Argo Image Updater가 latest 부분을 인메모리로 업데이트 후 전달
          ports:                  # 컨테이너가 노출하는 포트 목록, 이 Pod에서는 하나의 포트만 정의
            - containerPort: 8080 # 컨테이너 내부에서 애플리케이션이 듣고 있는 포트 번호, 서비스의 targetPort와 일치해야 한다
          envFrom:                # 컨테이너가 사용할 환경 변수 설정 옵션, envFrom: 환경 변수 설정을 가져올 곳
            - secretRef:          # "환경 변수 설정을 시크릿에서 가져오겠다"
                name: lastcup-api-env # -> lastcup-api-env라는 이름의 시크릿에서 환경 변수 설정을 가져온다. 시크릿의 각 키가 환경 변수 이름이 되고, 값이 환경 변수 값이 된다.

          # k8s resources: 컨테이너가 사용할 최소 자원 및 최대 자원 설정 옵션
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              # cpu: # 트래픽 폭증 시 burst 허용, 설정하지 않음.
              memory: "1Gi" # 메모리는 비압축 자원이므로 누수 방지를 위해 최대 제한

          # k8s probe: 컨테이너 상태 확인 설정 옵션, probe: 탐침, 탐사
          startupProbe: # Spring Boot 다 뜰 때까지 기다리기 위한 probe
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15     # 컨테이너 시작 후 대기시간 15초
            periodSeconds: 5            # probe 실행 간격 5초
            failureThreshold: 10        # 10번까지 실패 허용 (컨테이너 시작이 오래 걸릴 수 있으므로 총 150초까지 기다림)

          readinessProbe: # "서비스 트래픽 받을 준비 됐어?" probe
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            periodSeconds: 5            # probe 실행 간격 5초
            failureThreshold: 3         # 3번까지 실패 허용

          # readinessProbe 실패는 트래픽만 끊지만,  livenessProbe 실패는 Pod을 재시작하는 무거운 조치이므로 신중히 판단해야 하므로 조건이 느슨하다.
          livenessProbe: # "컨테이너 살아있어?" probe
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            periodSeconds: 7            # probe 실행 간격 7초
            failureThreshold: 5         # 5번까지 실패 허용
      # Spring Boot단의 실제 정리를 위한 대기 허용 시간: 30초 -> K8s단의 대기 허용 시간 45초 -> 45초 이상은 못 기다리니 강제종료
      terminationGracePeriodSeconds: 45 # K8s 단의 graceful shutdown 최대 대기시간 45초

      # k8s affinity: pod이 특정 노드에서 실행되도록 제어하는 옵션, affinity: 친화성
      affinity:
        podAntiAffinity:                # "같은 pod끼리 떨어뜨려라"
          preferredDuringSchedulingIgnoredDuringExecution: # "배치할때 가능하면 하되, 이미 돌고 있는 건 건드리지 마라"
            - weight: 100               # 우선도, 100이 최고
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: lastcup-api # 같은 label을 가진 pod 끼리 떨어뜨림
                topologyKey: kubernetes.io/hostname # 노드 단위로 분산

  # 블루그린 배포 전략 설정
  strategy:
    blueGreen:
      activeService: lastcup-api-active           # 운영 트래픽을 받는 active 서비스
      previewService: lastcup-api-preview         # 신규 버전 검증용 preview 서비스
      scaleDownDelaySeconds: 70                   # 새 버전이 활성화된 후 이전 버전을 바로 종료하지 않고 70초 대기
      autoPromotionEnabled: true                  # 롤아웃이 자동 승격하도록 허용
      prePromotionAnalysis:                       # 단, 승격 전 prePromotionAnalysis 통과해야함
        templates:
          - templateName: lastcup-api-prepromote  # lastcup-api-prepromote 템플릿 실행 후 통과해야 승격 허용
      postPromotionAnalysis:                      # 롤아웃 승격 후에도 안정성을 위해 서비스 검증 위한 분석 실행
        templates:
          - templateName: lastcup-api-postpromote # lastcup-api-postpromote 템플릿 실행
                                                  # postPromotionAnalysis 실패시 자동 롤백
                                                  # Rollout이 "Degraded" 상태가 되며, 이전 버전의 ReplicaSet을 다시 올린다.
