apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: lastcup-api
  namespace: lastcup
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: lastcup-api
  template:
    metadata:
      labels:
        app: lastcup-api
    spec:
      imagePullSecrets:
        - name: ghcr-pull-secret
      containers:
        - name: api
          image: ghcr.io/gdgoc2026-triples-project/2026_triples_team_6_be:latest
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: lastcup-api-env
          # k8s probe: 컨테이너 상태 확인 설정 옵션, probe: 탐침, 탐사

          startupProbe: # Spring Boot 다 뜰 때까지 기다리기 위한 probe
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15   # 컨테이너 시작 후 대기시간 15초
            periodSeconds: 5          # probe 실행 간격 5초
            failureThreshold: 10      # 10번까지 실패 허용 (컨테이너 시작이 오래 걸릴 수 있으므로 총 150초까지 기다림)

          readinessProbe: # "서비스 트래픽 받을 준비 됐어?" probe
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            periodSeconds: 5          # probe 실행 간격 5초
            failureThreshold: 3       # 3번까지 실패 허용

          # readinessProbe 실패는 트래픽만 끊지만,  livenessProbe 실패는 Pod을 재시작하는 무거운 조치이므로 신중히 판단해야 하므로 조건이 느슨하다.
          livenessProbe: # "컨테이너 살아있어?" probe
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            periodSeconds: 7          # probe 실행 간격 7초
            failureThreshold: 5       # 5번까지 실패 허용
      # Spring Boot 30초: 실제 정리 허용 시간 -> k8s 45초: 45초 이상은 못 기다리니 강제종료
      terminationGracePeriodSeconds: 45 # graceful shutdown 최대 대기시간 45초
  strategy:
    blueGreen:
      activeService: lastcup-api-active
      previewService: lastcup-api-preview
      scaleDownDelaySeconds: 30
      autoPromotionEnabled: true
      prePromotionAnalysis:
        templates:
          - templateName: lastcup-api-prepromote
