apiVersion: networking.k8s.io/v1  # 네트워크 전용 API 그룹이다. (리소스를 카테고리별로 묶은 그룹)
kind: Ingress            # "이 파일로 Ingress를 만들겠다"
metadata:
  name: api-ingress      # "이 Ingress의 이름은 api-ingress입니다"
  namespace: lastcup     # "lastcup 네임스페이스 소속"

  # annotations: 리소스에 붙히는 메모지, K8s 자체는 안 읽고 외부 도구가 읽는 설정값
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod          # cert-manager에게: "이 Ingress의 인증서는 letsencrypt-prod로 발급해줘"
    # nginx에게: "HTTP -> HTTPS 자동 리다이렉트 하지마"
    # 왜? cloudflare가 이미 SSL 처리를 하고 들어오기 때문에 nginx가 또 리다이렉트하면 무한루프 발생
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    # nginx에게: "Cloudflare가 붙인 원본 IP헤더(X-Forwarded-For)를 그대로 써"
    # 이게 없다면 Spring Boot에서 클라이언트 IP가 전부 Cloudflare IP로 보인다.
    nginx.ingress.kubernetes.io/use-forwarded-headers: "true"

spec:
  ingressClassName: nginx          # 트래픽 처리를 nginx Ingress Controller 에게 맡기겠다 (여러개일 수 있으니 이름으로 지정)
  # "1단계: (TLS handshake에서)이 도메인이면 이 인증서를 써라"
  tls:
    - hosts:
        - api.lastcup.site         # "이 도메인에 대해 https 적용하겠다"
      secretName: api-lastcup-tls  # cert-manager가 발급한 인증서를 K8s secret으로 저장할 때 쓸 이름, 추후 nginx가 이 이름으로 꺼내씀
                                    # 즉, "여기에 저장해라" 와 "여기에 저장된걸 참조해라" 를 동시에 명시하는 것

  # "2단계: (api endpoints를 보고)이 도메인이면 이 서비스로 보내라"
  rules:
    - host: api.lastcup.site       # 이 도메인으로 들어오는 요청을
      http:
        paths:
          - path: /                # 모든 경로에 대해
            pathType: Prefix       # 접두사 매칭(/, /api, /api/v1, /swagger 모두 매칭)
            backend:
              service:
                name: lastcup-api-active # lastcup-api-active 서비스로 보내겠다
                port:
                  number: 80        # service의 80 포트로 보내라
