apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lastcup
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/GDGoC2026-TripleS-Project/2026_TRIPLES_TEAM_6_BE.git
    targetRevision: main
    path: k8s/lastcup
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: lastcup
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
