apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lastcup
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: lastcup-api=ghcr.io/gdgoc2026-triples-project/2026_triples_team_6_be
    argocd-image-updater.argoproj.io/lastcup-api.update-strategy: digest
    argocd-image-updater.argoproj.io/lastcup-api.pull-secret: pullsecret:argocd/ghcr-cred
    argocd-image-updater.argoproj.io/write-back-method: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/GDGoC2026-TripleS-Project/2026_TRIPLES_TEAM_6_BE.git
    targetRevision: main
    path: k8s/lastcup
  destination:
    server: https://kubernetes.default.svc
    namespace: lastcup
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
